.timing {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    font-size: 9px;
}

.time {
    font-size: 9px;
    margin-left: 10px
}

.time-right {
    font-size: 9px;
    margin-right: 10px;
    margin-top: 4px
}

.message {
    font-size: 12px;
    overflow-wrap: break-word !important;
}


.message-footer {
    padding: 10px 0.5rem !important
}

.alert-icon {
    font-size: 19px;
    color: #a6fda6
}

.message-count {
    position: absolute;
    right: 15px;
    top: 23px;
    border-radius: 8px;
    background-color: #ff4d4d !important;
    padding: 2px !important
}

.message-count1 {
    position: absolute;
    right: 90px;
    top: -130px;
    border-radius: 8px;
    background-color: #ff4d4d !important;
    padding: 2px !important
}

.notification {
    position: absolute;
    top: -490px;
    right: 450px;
    width: 60px;
    height: 60px;
    background: rgba(102,175,233,.6);
    border-radius: 30px;
    text-align: center;
}

    .notification .fas {
        color: #ff8383;
        line-height: 60px;
        font-size: 30px;
    }

#lock {
    position: absolute;
    bottom: 499px;
    right: 455px;
    font-size: 19px;
    color: deepskyblue;
    cursor: pointer;
}

#unlock {
    position: absolute;
    bottom: 499px;
    right: 455px;
    font-size: 19px;
    color: deepskyblue;
    cursor: pointer;
}

.box {
    position: absolute;
    top: 405px;
    width: 120px;
    height: 287px;
    border: 5px solid #dcdcdc;
    background-color: #dcdcdc;
    overflow-y: auto;
    overflow-x: hidden;
}



#online {
    position: absolute;
    bottom: 0px;
    right:348px;
    font-size: 19px;
    color: deepskyblue;
    cursor: pointer
}

.sound {
    font-size: 19px;
    color: #a6fda6;
    cursor: pointer;
    margin-right: 5px
}

.eye {
    font-size: 19px;
    color: #a6fda6;
    cursor: pointer;
    margin-right: 5px
}
.aa {
    font-size: 19px;
    color: #a6fda6;
    cursor: pointer;
    margin-right: 5px
}


#more {
    
    position: absolute;
    bottom: 315px;
    right: 150px;
    font-size: 30px;
    color: deepskyblue;
    cursor: pointer
}

#new-message-alert {
    position: absolute;
    right: 31px;
    bottom: 70px;
    cursor: pointer;
    background-color: #ffeaa7;
    padding: 1%;
    border-radius: 10px
}

#new-message-alert1 {
    position: absolute;
    right: 50px;
    bottom: 90px;
    cursor: pointer;
    background-color: #ffeaa7;
    padding: 1%;
    border-radius: 10px
}


#unread-message-count {
    display: none;
    position: absolute;
    font-size: 11px;
    bottom: -2px;
    right: -4px;
    padding: 1px;
    background: red;
}

#unread-message-count1 {
    display: none;
    position: absolute;
    font-size: 11px;
    top: -140px;
    right: 80px;
    padding: 1px;
    background: red;
}


.chatbox {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 320px;
    height: 400px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 999;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border: 1px solid #dcdcdc;
}

.chatbox--tray {
    bottom: -350px;
}

.chatbox--closed {
    bottom: -350px;
}

.chatbox .form-control:focus {
    border-color: #1f2836;
}

.chatbox__title,
.chatbox__body {
    border-bottom: none;
}

.chatbox__title {
    min-height: 50px;
    padding-right: 20px;
    background-color: #1f2836cc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

    .chatbox__title #title {
        height: 50px;
        margin: 0 0 0 15px;
        line-height: 50px;
        position: relative;
        padding-left: 20px;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

        .chatbox__title #title a {
            color: #fff;
            max-width: 195px;
            display: inline-block;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .chatbox__title #title:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 12px;
            height: 12px;
            background: #4CAF50;
            border-radius: 6px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

.gray_title:before {
    background-color: gray !important
}
.box_title:before {
    background-color: gray !important
}

.chatbox__title__tray,
.chatbox__title__close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

    .chatbox__title__tray:hover,
    .chatbox__title__close:hover {
        opacity: 1;
    }

    .chatbox__title__tray span {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-bottom: 2px solid #fff
    }

    .chatbox__title__close svg {
        vertical-align: middle;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 1.2px;
    }

.chatbox__body,
.chatbox__credentials {
    padding: 15px;
    border-top: 0;
    background-color: #DCDCDC;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__credentials {
    display: none;
}

    .chatbox__credentials .form-control {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.chatbox__body {
    overflow-y: auto;
}

.chatbox__body__message p {
    padding: 15px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fcfcfc;
    position: absolute;
    top: 15px;
}

.chatbox__body__message--left p {
    margin-left: 15px;
    padding-left: 30px;
    text-align: left;
    padding-top: 25px;
}

.chatbox__body__message--left img {
    left: -5px;
}

.chatbox__body__message--right p {
    margin-right: 15px;
    padding-right: 30px;
    text-align: right;
}

.chatbox__body__message--right img {
    right: -5px;
}

.chatbox_message {
    padding: 15px;
    min-height: 50px;
    outline: 0;
    resize: none;
    border: none;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fefefe;
}

.chatbox--empty {
    height: 262px;
}

    .chatbox--empty.chatbox--tray {
        bottom: -212px;
    }

    .chatbox--empty.chatbox--closed {
        bottom: -262px;
    }

    .chatbox--empty .chatbox__body,
    .chatbox--empty .chatbox__message {
        display: none;
    }

    .chatbox--empty .chatbox__credentials {
        display: block;
    }

.chatbox_timing {
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 2px;
}

    .chatbox_timing ul {
        padding: 0;
        margin: 0
    }

        .chatbox_timing ul li {
            list-style: none;
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
        }

            .chatbox_timing ul li a {
                display: block;
                color: #747474
            }

.ul_msg {
    padding: 10px !important;
}

.chatbox__body__message--right .ul_section_full {
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 15px;
    font-size: 14px;
    background-color: #74e674;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message--left .ul_section_full {
    margin-right: 20px;
    text-align: left;
    border-radius: 15px;
    font-size: 14px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message--left .ul_section_full_red {
    margin-right: 20px;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #ff8383;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.ul_msg {
    padding: 0;
    margin: 0px
}

    .ul_msg li {
        list-style: none;
        display: block;
    }

.ul_msg2 {
    padding: 0;
    margin: 0px;
    text-align: right;
}

    .ul_msg2 li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
    }

.chatbox__body__message--right .chatbox_timing {
    position: absolute;
    left: 10px;
    font-size: 12px;
    top: 2px;
}

.chatbox__body__message--right .ul_msg2 {
    text-align: left
}

    .chatbox__body__message--right .ul_msg2 li {
        list-style: none;
        display: inline-block;
        margin-left: 15px;
        margin-right: 0px
    }

.chat_set_height {
    height: 40px;
    margin-top: 1px;
}

.chatbox22 .form-control:focus {
    border-color: #DCDCDC;
}

.width50 {
    width: 50%;
    float: left;
    background: #ECECEC;
}
/*======================Chat Box Ends=====================================================*/
/*======================Message=====================================================*/
.message_check {
    padding-top: 10px;
}

.messsade_date {
    text-align: left;
    padding-top: 9px;
}

    .messsade_date a {
        color: #000;
    }

.padleftright0 {
    padding-left: 0px;
    padding-right: 0px;
}

.message_box_area {
    color: #000;
    cursor: pointer;
}

.create_m {
    border: 1px solid #ccc !important;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
    margin-top: 15px;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
btn-chat
    .fileinput-button input {
        cursor: pointer;
        direction: ltr;
        font-size: 23px;
        margin: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(-300px, 0px) scale(4);
    }

.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.create_m:focus {
    border-color: #66afe9 !important;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) !important;
}

.col-lg-3.control-label {
    text-align: left;
}
